<div class="main-column">
    <div class="container shadow">
        <div class="avatar" (click)="toggleCrop(false)">
            <div class="hover-layer">
                <span>
                    <i class="fas fa-edit fa-2x"></i>
                </span>
            </div>
            <i id="avatarPlaceholder" class="fas fa-user fa-2x"></i>
            <img class="profile-img" [src]="this.imgData.image" alt="">
        </div>
        <div class="major-user-info">
            <h1>{{user.username}}</h1>
            <i class="fas fa-envelope"></i>&nbsp;{{user.mail}}

        </div>
        <app-crop [@toggle]="isCropperShown" style="height: 0; grid-column-start: 1; overflow: hidden; grid-column-end: 3;" (imageUploaded)="reciveImage($event)" (cancel)="toggleCrop($event)"></app-crop>
    </div>
</div>
