:host{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
#Layer_1{
    position: relative;
    top: -60px;
}
#Layer_2{
    box-sizing: border-box;
    position: absolute;
    bottom: 150px;
    right: -320px;
    z-index: 10;
    padding: 30px;
}