<svg filter="url(#f3)" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1381.7" height="1419" viewBox="0 0 1381.7 1419"><defs><style>.cls-1{fill:url(#linear-gradient);}</style><linearGradient id="linear-gradient" x1="1106.52" y1="-69.51" x2="-191" y2="1228" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#70c1b3"/><stop offset="1" stop-color="#699"/></linearGradient></defs><title>curve1</title><path class="cls-1" d="M0,0H1176s330,316,154,680S934,1010,632,978s-360,74-380,130S196,1419,0,1419Z"/>
  <defs>
      <filter id="f3" x="0" y="0" width="200%" height="200%">
          <feOffset result="offOut" in="SourceAlpha" dx="0" dy="0" />
          <feGaussianBlur result="blurOut" in="offOut" stdDeviation="4" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
  </defs>
</svg>
<svg filter="url(#f3)" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="906" height="906" viewBox="0 0 906 906"><defs><style>.cls-2{fill:url(#linear-gradient2);}</style><linearGradient id="linear-gradient2" x1="226.46" y1="60.62" x2="679.54" y2="845.38" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#b2dbbf"/><stop offset="1" stop-color="#82a88c"/></linearGradient></defs><title>curve2</title><circle class="cls-2" cx="453" cy="453" r="453"/>
  <defs>
      <filter id="f3" x="0" y="0" width="200%" height="200%">
          <feOffset result="offOut" in="SourceAlpha" dx="0" dy="0" />
          <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
  </defs>
</svg>
<app-register class="shadow-lg"></app-register>