@import '../../../../../assets/scss/palette.scss';
:host{
    position: absolute;
    top: 60px;
    left: 0;
    background: $gray-1;
    width: 240px;
    padding: 15px;
    border: 2px ridge $color1;
}
.loginForm{
    display: flex;
    flex-direction: column;
}