<form class="loginForm" [formGroup]="logForm" (ngSubmit)="login()">
	<mat-form-field>
		<input matInput placeholder="Login lub Email" formControlName="login" [errorStateMatcher]="matcher">
		<mat-error *ngIf="logForm.controls['login'].errors?.pattern">
			Proszę podaj poprawny login lub email
		</mat-error>
		<mat-error *ngIf="logForm.controls['login'].errors?.required">
			Login lub email jest <strong>wymagany</strong>
		</mat-error>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input matInput placeholder="Hasło" type="password" formControlName="pass" [errorStateMatcher]="matcher">
		<mat-error *ngIf="logForm.controls['pass'].errors?.required">
			Hasło jest <strong>wymagane</strong>
		</mat-error>
	</mat-form-field>
	<mat-error [hidden]="!errorMsg">
		{{errorMsg}}
	</mat-error>
	<br>
	<button mat-flat-button color="primary" [disabled]="!logForm.valid == true">Zaloguj</button>
</form>