@import '../../../../../../assets/scss/palette.scss';
.img-croper-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211, 211, 211);
    padding-bottom: 20px;
}
.custom-input{
    padding: 10px;
}

canvas {
    border: 2px solid $color1;
}