<div class="main-column">
	<div class="container shadow">
		<div class="avatar" (click)="toggleCrop(false)">

            <i
                id="avatarPlaceholder"
                *ngIf="!this.profile.isAvatarSet"
                class="fas fa-user fa-2x"
            ></i>
			<img class="profile-img" *ngIf="this.profile.isAvatarSet" [src]="photoUrl(profile.username)" alt="">
		</div>

		<div class="major-user-info">

			<h1>{{profile.username}}</h1>
			<i class="fas fa-envelope"></i>&nbsp;{{profile.mail}}<br>
			<i class="fas fa-calendar"></i>&nbsp;Data dołączenia: {{profile.dateOfRegistration}}

		</div>

  </div>
</div>