<div class="menu-container">

	<mat-sidenav-container class="sidenav">

		<mat-sidenav class="sidenav__content" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"(closed)="events.push('close!')">

			<ul class="sidenav__menu">

				<li><button mat-flat-button color="primary" (click)="snav.toggle()" [routerLink]="['']"
						routerLinkActive="router-link-active">🏡&nbsp;Główna</button>
				</li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📫&nbsp;Wiadomości</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📅&nbsp;Kalendarz</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📢&nbsp;Forum</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📚&nbsp;Edukacja</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">🎬&nbsp;Projekty</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📜&nbsp;Edytor</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">🛒&nbsp;Targowisko</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📉&nbsp;Statystyki</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()" [routerLink]="['/profile']"
						routerLinkActive="router-link-active">🙂&nbsp;Mój profil</button>
				</li>

			</ul>

			<span class="sidenav__version">v. {{version}} alpha</span>

		</mat-sidenav>

	</mat-sidenav-container>


	<div class="top-bar shadow">

		<div class="left-section">

			<button mat-flat-button color="primary" class="profile-btn" (click)="opened = !opened" >
				<i *ngIf="!this.user.isAvatarSet" class="fas fa-user fa-2x"></i>
				<img *ngIf="this.user.isAvatarSet" [src]="this.user.avatar" alt="">
			</button>

			<span class="username">
				<strong>{{this.user.username}}</strong>
			</span>

			<!-- THIS SECTION IS TO CHANGE -- WHY TWO BTN'S???  -->
			<button mat-flat-button color="warn" class="sign-in-btn" (click)="loginFormVisible = !loginFormVisible"
				*ngIf="this.user.username == null">Zaloguj</button>

			<button mat-flat-button color="warn" class="sign-in-btn" (click)="logOut()"
				*ngIf="this.user.username != ' ' && this.user.username != null">Wyloguj</button>
			<!-- THIS SECTION IS TO CHANGE -- WHY TWO BTN'S??? END -->

		</div>

		<app-login *ngIf="this.loginFormVisible" class="shadow" (visibilityState)="loginVisibilityState($event)">
		</app-login>

		<img class="logo" width="60px" height="60px" src="../../../../../assets/img/logo.png" alt="Fade-in logo">

		<button class="top-bar__search-btn" [routerLink]="['/search']" mat-flat-button color="accent">
			<i class="fas fa-search fa-2x"></i>
		</button>

	</div>

</div>