@import url('https://fonts.googleapis.com/css?family=Hind:400,700&display=swap&subset=latin-ext');
@import './assets/scss/palette.scss';
@import './assets/scss/reset.scss';
@import './assets/scss/shadows.scss';

*{
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
}
body{
  overflow-x: hidden;
  background-color: #d6d6d6;
}
h1{
  font-size: 2rem;
  margin-bottom: 10px;
}
h2{
  font-size: 1.5rem;
  margin-bottom: 5px;
}
h3{
  font-size: 1.25rem;
  margin-bottom: 5px;
}
.main-column{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
@media (max-width: 768px) {
  .container {
    width: 100vw;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}