<div class="menu-container">
	<mat-drawer-container class="container" autosize>
		<mat-drawer #snav class="sidenav shadow-lg" mode="side">
			<ul class="side-list">
				<li><button
					mat-flat-button color="primary"
					(click)="snav.toggle()"
					[routerLink]="['']"
					routerLinkActive="router-link-active">🏡&nbsp;Home</button>
				</li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📫&nbsp;Messages</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📅&nbsp;Callendar</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📢&nbsp;Forum</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📚&nbsp;Education</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">🎬&nbsp;Projects</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📜&nbsp;Script Editor</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">🛒&nbsp;Market Place</button></li>
				<li><button mat-flat-button color="primary" (click)="snav.toggle()">📉&nbsp;Stats</button></li>
				<li><button
					mat-flat-button color="primary"
					(click)="snav.toggle()"
					[routerLink]="['/profile']"
					routerLinkActive="router-link-active" >🙂&nbsp;My profile</button>
				</li>
			</ul>
			<span class="version">v. {{version}}∝</span>
		</mat-drawer>
	</mat-drawer-container>
	<div class="top-bar shadow">
			<div class="right-section">
				<div class="userPhoto">
					<button mat-flat-button color="primary" class="profile-btn" (click)="snav.toggle()">
						<i *ngIf="!this.user.isAvatarSet" class="fas fa-user fa-2x"></i>
						<img *ngIf="this.user.isAvatarSet" [src]="this.user.avatar" alt="">
					</button>
				</div>
				<div class="userInfo">
					<span class="username"><strong>{{this.user.username}}</strong></span><br>
					<button mat-flat-button color="warn" class="sign-in-btn" (click)="loginFormVisible = !loginFormVisible" *ngIf="this.user.username == null">Sign In</button>
					<button mat-flat-button color="warn" class="sign-in-btn" (click)="logOut()" *ngIf="this.user.username != ' ' && this.user.username != null">Log out</button>
				</div>
			</div>
		<app-login *ngIf="this.loginFormVisible" class="shadow" (visibilityState)="reciveState($event)"></app-login>
		<div class="logotype">Fade In:</div>
	</div>
</div>

